*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: rgb(5, 166, 206);
  font-family: popp ins, sans serif;
}

.page-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
}

.page-content h1{
  font-size: 3rem;
  text-transform: uppercase;
  color: *edffec;
}

.page-content h2{
  font-weight: 600;
}

.page-button{
  display: flex;
  margin: 2rem 0;
}

.btn.btn-pink{
 background: *dd2d4a;
color: *fff;
transition: all  0.5s ease-in-out;
}

.btn.bnt-pink:houver{
  background: transparent;
  border-color: *dd2d4a;
  color: *000;
}

.page-info p{
  font-weight: 300;
  padding: 20px;
}

@media (max-weight:758px){
            .container{
              padding: 20px;
              font-size: 4rem;
            }
}
